<mat-card appearance="outlined">
  <mat-card-content>
    <p> {{ 'event.event_id' | translate }}:  {{ event.id }} </p>
    <p> {{ 'event.name' | translate }}: {{ event.name }} </p>
    <p> {{ 'event.description' | translate }}: {{ event.description }} </p>
    <p> {{ 'attendee.firstName' | translate }}: {{ attendee.firstName }} </p>
    <p> {{ 'attendee.lastName' | translate }}: {{ attendee.lastName }} </p>
    <p> {{ 'attendee.checkedInAt' | translate }}: {{ attendee.checkedInAt }} </p>
  </mat-card-content>
</mat-card>
