<mat-toolbar class="toolbar">
  <mat-toolbar-row class="toolbar__row">
    <div class="toolbar__start">
    <img src="https://img.logo.dev/eventify.io?token=pk_GN_x4FDeQqa5s0UD0T1nCg" alt="Logo" class="toolbar__logo">
    <span>ISO 27001:2022 certified</span>
    </div>
    <div class="toolbar__center">
      <button mat-button routerLink="home" aria-label="Home">{{ 'toolbar.home' | translate }}</button>
      <button mat-button routerLink="registration/event-check-ins/new" aria-label="Check In">{{ 'toolbar.check-in' | translate }}</button>
    </div>
    <div class="toolbar__end">
      <app-language-switcher />
    </div>
  </mat-toolbar-row>
</mat-toolbar>
